
.page {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.page-header,
.page-footer {
  flex-shrink: 0;
}

.page-main {
  flex-grow: 1;
}

.container {
  min-width: $viewport--sm;
  max-width: #{15 + 1200 + 15}px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
